<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565758111548-7ss33alp2g3tmp08333lsdsqu7niljp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565758111548-7ss33alp2g3tmp08333lsdsqu7niljp6</string>
	<key>API_KEY</key>
	<string>AIzaSyAz77p1UZU_9qT6Xl-ohJk0FH0Bwvqr3MM</string>
	<key>GCM_SENDER_ID</key>
	<string>565758111548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carolinegilleeny.chickensaverflutter</string>
	<key>PROJECT_ID</key>
	<string>canvas-setup-329021</string>
	<key>STORAGE_BUCKET</key>
	<string>canvas-setup-329021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565758111548:ios:7224ec90312fedefeaf839</string>
</dict>
</plist>